.cart-heading {
  text-align: center;
  font-weight: 400;
  margin-bottom: 2rem;
}

.grey-line {
  height: 2px;
  width: 100%;
  margin-top: 0.8rem;
  margin-bottom: 2rem;
  background-color: var(--my-grey);
}

.cart-items-container {
  width: 100%;
  min-height: 10rem;
  position: relative;
}

.checkout {
  width: 100%;
  height: 7rem;
}

.total-spend {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.checkout-btn {
  width: 100%;
  height: 2.8rem;
  border: 1px solid var(--my-black);
  background-color: white;
  color: var(--my-black);
  font-size: 1.2rem;
}

.checkout-btn:hover {
  background-color: var(--my-black);
  border: 1px solid white;
  color: white;
  cursor: pointer;
}

.cart-error {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}

@media only screen and (min-width: 1024px) {
  .cart-wrapper {
    width: 100%;
    height: 100%;
  }

  .cart-heading {
    top: 2rem;
    height: 100%;
    margin-bottom: 2rem;
  }

  .checkout {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .checkout-btn-wrapper {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
  }

  .checkout-btn {
    width: 20rem;
    height: 100%;
  }
}
