.cart-item {
  width: 100%;
  min-height: 10rem;
  display: flex;
  position: relative;
}

.cart-item-image-wrapper {
  width: 8rem;
  height: 10rem;
}

.cart-item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cart-item-info {
  width: 50%;
  margin-left: 1rem;
}

.cart-item-info h1 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  width: 75%;
}

.cart-item-info p {
  margin-bottom: 0.8rem;
}

.remove-item {
  position: absolute;
  top: 3px;
  right: 0;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}