.error-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-page h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.error-btn {
  border: 1px solid var(--my-black);
  padding: 4px;
}

.error-btn a {
  text-decoration: none;
}
