.home-page {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.home-page-image-wrapper {
  height: 100%;
  position: relative;
}

.home-page-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.home-page-image-overlay {
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.home-page-text {
  color: var(--my-white);
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-page-text h1 {
  font-size: 4rem;
  font-weight: 400;
}

.home-page-text p {
  font-size: 0.875rem;
}

.image-slider-buttons {
  position: absolute;
  width: 100%;
  height: 3rem;
  bottom: -0.5rem;
}

.image-slider-buttons-centered {
  width: 2.7rem;
  margin: 0 auto;
}

input[type="radio"] {
  accent-color: var(--my-black);
  cursor: pointer;
}
