

.navbar {
  width: 100%;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 4rem;
  position: absolute;
  padding-top: 1rem;
  padding-right: 2rem;
}

.navbar-title {
  font-weight: 400;
  position: absolute;
  left: 3rem;
}

.navbar-title a {
  text-decoration: none;
  color: var(--my-black);
}

.navbar-buttons-wrapper {
  width: 5.5rem;
  display: flex;
  justify-content: space-between;
}

.navbar-image-wrapper {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.navbar-image-wrapper img {
  width: 100%;
  height: 100%;
}
