.product-details {
  width: 100%;
  height: 100%;
}

.product-detail-image-wrapper {
  width: 100%;
  height: 100%;
}

.product-detail-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-detail-info p:nth-child(1) {
  font-size: 1.3rem;
  margin-top: 1rem;
}

.product-detail-info p:nth-child(2) {
  margin-top: 0.8rem;
}

.sizes-container {
  width: 100%;
  min-height: 8rem;
  margin-top: 2rem;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 1.8rem;
}

.size-btn {
  min-width: 3rem;
  height: 2rem;
  background-color: white;
  border: 1px solid var(--my-black);
  font-size: 1rem;
  margin-bottom: 1rem;
}

.size-btn:hover {
  background-color: var(--my-black);
  color: white;
  cursor: pointer;
}

.active-btn {
  background-color: var(--my-black);
  color: white;
}

.add-to-cart-btn {
  width: 100%;
  height: 3rem;
  font-size: 1.3rem;
  border: none;
  background-color: white;
  color: var(--my-black);
  cursor: pointer;
  border: 1px solid var(--my-black);
}

.add-to-cart-btn:hover {
  color: white;
  background-color: var(--my-black);
}

@media only screen and (min-width: 1024px) {
  .product-detail-image-wrapper {
    width: 100%;
    height: 100%;
  }

  .product-details {
    display: flex;
    justify-content: space-around;
    width: 65%;
  }

  .sizes-container {
    margin-top: 0;
  }

  .product-info-details {
    margin-left: 5rem;
  }

  .product-detail-info p:nth-child(1) {
    font-size: 1.3rem;
    margin-top: 0;
  }
}
